* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
   
    background: url('images.jpe'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



div {
    background: #2c2c2c;
    width: 600px;
    max-width: 90%;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    
    border: 5px solid #f1d64b;
    box-shadow: 6px 6px 0px #161102;
}

#quoteID {
    font-size: 19px;
    margin-bottom: 15px;
    color: #f3cb51;
    line-height: 1.6;
    font-style: italic;
}

#authorID {
    color: #b94e4e;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#generateBtn {
    background: #f3cb51;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    padding: 10px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 13px;
    transition: 0.2s;
}

#generateBtn:hover {
    background: #a87c2d;
    color: #2c2c2c;
    border: #2c2c2c;
}